*
{
	margin: 0px;
}

img
{
  border: none;
}

body
{
  font-size: .8em;
}

p
{
  margin: .5em 0;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

/* ---------- menu ----------- */

#menu
{
  font-size: 12px;
  border: solid 1px #ccc;
  border-top: none;
  background-color: #73A2CE;
  color: #fff;
  margin: 0 10px;
}

#menu div
{
  clear: both;
}

#menu a
{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#menu h1
{
  float: left;
  font-size: 12px;
  margin-right: 10px;
}

#menu h1 a
{
  float: left;
  padding: 5px;
}

#menu ul
{
  float: left;
	list-style: none;
	padding: 0px;
}
	
#menu ul li
{
	float: left;
	margin-right: 5px;
}

#menu ul li a
{
	display: block;
	padding: 5px;
}

#menu ul li a:hover
{
	background-color: #84b3df;
	color: #fff;
}

#menu ul li.active, #menu ul li.active a, #menu ul li.active a:hover
{
	background-color: #84b3df;
	color: #333;
}

/* ------------ container ------------ */

#container h1, #container h2, #container h3
{
  color: #555;
  padding: 3px 3px 3px 0;
}

/* ------------ footer ------------ */

#footer
{
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
}

/* ------------ tables ------------ */

table.list {
  margin: .5em 0 1em;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  width: 100%;
}

table.list td {
  border-bottom: 1px solid #eee;
  padding: .5em 0;
}

/* ----------- box ----------- */

.box
{
  margin: 10px 10px 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  font-size: 11px;
}

/* ----------- forms ----------- */

.form-item {
  margin: .5em 0;
}

.form-item label {
  font-weight: bold;
  display: block;
}

.form-item .description {
  font-size: .8em;
  color: #555;
}

.form-item .error_list {
  color: red;
}

.info h2
{
  font-size: 1.2em;
  margin: 0 0 2px;
}

