.form-item {
  margin: .5em 0;
}

.form-item label {
  font-weight: bold;
  display: block;
}

.form-item .description {
  font-size: .8em;
  color: #555;
}

.form-item .error_list {
  color: red;
}

img {
  border: none;
}

table.list {
  border-collapse: collapse;
  border-top: 1px solid #eee;
  width: 100%;
}

table.list td {
  border-bottom: 1px solid #eee;
  padding: .5em 0;
}

.info h2 {
  font-size: 1em;
  margin: 0 0 2px;
}
